[package]
name = "anput"
version = "0.21.3"
edition = "2024"
authors = ["Patryk 'PsichiX' Budzynski <psichix@gmail.com>"]
description = "Scriptable Entity-Component-System (powered by Intuicio)"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/PsichiX/anput"
repository = "https://github.com/PsichiX/anput"
documentation = "https://docs.rs/anput"
readme = "../../README.md"

[features]
default = ["tracing"]
tracing = ["dep:tracing"]
deadlock-trace = ["moirai/deadlock-trace"]

[dependencies]
moirai = "0.1"
intuicio-data = "0.48"
intuicio-core = "0.48"
intuicio-derive = "0.48"
intuicio-framework-serde = "0.48"
serde = { version = "1", features = ["derive"] }
tracing = { version = "0.1", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
instant = { version = "0.1", features = ["wasm-bindgen"] }

[dev-dependencies]
rand = "0.9"
serde_json = "1"
